<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog App</title>
</head>
<body>
<h1>Delete Blog</h1>
<form th:action="@{/blog/delete}" th:object="${blog}" method="post">
    <input type="hidden" th:field="*{id}">
    <p>Title:<input type="text" th:field="*{title}"></p>
    <p>Content:<input type="text" th:field="*{content}"></p>
    <p>Category:<input type="text" th:field="*{category.name}"></p>
    <input type="submit" value="Submit">
</form>
</body>
</html>